<!DOCTYPE html>
<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Atualmente trabalho como Analista Web Jr, conclui o curso de Análise e desenvolvimento de sistemas na Fatec Guaratinguetá. Me considero uma pessoa que tem facilidade de aprendizado e trabalho bem em equipe, estou sempre disposto a novos desafios e oportunidades de crescimento pessoal e profissional! </p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>

</html>